@model Games_Forum.Models.Post.NewPostModel

<h1>New Post | @Model.ForumName</h1>

<form asp-action="AddPost" method="post" id="addPostForm">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <button class="btn btn-submitPost" type="submit" id="submitPostBtn">Submit</button>
    <input type="hidden" asp-for="ForumId" />
</form>