@model Games_Forum.Models.Forum.AddForumModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<title>Create Forum</title>
@if (User.IsInRole("Admin"))
{
    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading">
                Create New Forum
            </div>
        </div>
        <div class="row">

            <div id="createForumSection">
                <form asp-action="AddForum" method="post" id="createForumForm" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title">Form Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Choose forum title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Form Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Write description for Your forum" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div id="upload">
                        <label>Upload Forum Image</label>
                        <br />
                        <label>
                            <input asp-for="ImageUrl" class="form-control" placeholder="Paste Image Url Here" />
                        </label>
                    </div>
                    <button type="submit" id="newFormBtn" class="btn btn-submitPost">Create Forum</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <h3>Sorry, only Admin can create new Forums :(</h3>
}
